.Checkbox {
  position: relative;
  display: inline-block;
  width: 15px;
  height: 15px;
}

.Input {
  width: 0;
  height: 0;
  opacity: 0;
  margin: 0;
}

.Check {
  display: inline-block;
  position: relative;
  width: 100%;
  height: 100%;
  border: 1px solid cornflowerblue;
}

.Check:after {
  content: "";
  position: absolute;
  width: 6px;
  height: 10px;
  border: solid transparent;
  border-width: 0 2px 2px 0;
  left: 4px;
  top: 1px;
  transform: rotate(45deg);
  display: inline-block;
}

.Input:checked ~ .Check {
  background-color: #4e85d7;
}

.Input:checked ~ .Check:after {
  border-color: white;
}
