.App {
  width: 90%;
  margin: 1.5em auto;
  max-width: 800px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.App__title {
  font-size: 25px;
  font-weight: bold;
  color: #727272;
}

.App__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 2em;
}
